{% extends "base.html" %} {% block strat %}
<div class="container mt-5">
    <form class="col-6 mx-auto card p-3" method="post">
      <h1 class="mx-auto">Sign In</h1>
      {% csrf_token %}
      <!-- Email Name -->
      <div data-mdb-input-init class="form-outline mb-3">
          <input
              type="email"
              id="form2Example1"
              class="form-control"
              name="email"
          />
          <label class="form-label" for="form2Example1">Email Address</label>
          </div>
      <!-- Password -->
      <div data-mdb-input-init class="form-outline mb-3">
          <input
            type="text"
            id="form2Example1"
            class="form-control"
            name="password"
          />
          <label class="form-label" for="form2Example1">Password</label>
        </div>
        <!-- Submit button -->
        <button
        type="submit"
        data-mdb-button-init
        data-mdb-ripple-init
        class="btn btn-success btn-block mb-4"
    >
        Sign In
    </button>
    </form>
  </div>
{% endblock %}
